/*
http://colorbrewer2.org/#type=sequential&scheme=Blues&n=5
Printer Friendly Grayscale
#f7f7f7
#cccccc
#969696
#636363
#252525
 */

.bucket-0 {fill: #eff3ff; background-color: #eff3ff; color: #6baed6}
.bucket-1 {fill: #bdd7e7; background-color: #bdd7e7; color: #6baed6}
.bucket-2 {fill: #6baed6; background-color: #6baed6; color: #eff3ff}
.bucket-3 {fill: #3182bd; background-color: #3182bd; color: #bdd7e7}
.bucket-4 {fill: #08519c; background-color: #08519c; color: #eff3ff}

section select {
}
.map {
  position: relative;
}
.legend {
  padding: 0 1em 1em;
  border: 1px solid #bdd7e7;
  background-color: #eff3ff;
  position: absolute;
  top: 8%;
  right: 0;
}
.legend .gradient {
  background: linear-gradient(0deg, #08519c, #eff3ff);
  min-height: 150px;
  padding: 3px;
  margin: 3px;
  position: relative;
}
.legend .gradient .top {position: absolute; top: 0; color: #08519c;}
.legend .gradient .bottom {position: absolute; bottom: 0; color: #eff3ff}

#louisiana-map {
  display: none;
}
#parish-group, .parishes {
  transform: rotate(1.8deg);
  opacity:1;
  fill:#eff3ff;
  fill-opacity:1;
  fill-rule:nonzero;
  stroke:#000000;
  stroke-width:0.178287;
}
#parish-group path:hover {
  stroke: #bdd7e7;
}
#hover-info {
  position: absolute;
  top: 0;
  left: 0;

  background-color: white;
  border: 0.25em solid #08519c;
  padding: 1em;
}
