/*
http://colorbrewer2.org/#type=sequential&scheme=Blues&n=5
Printer Friendly Grayscale
#f7f7f7
#cccccc
#969696
#636363
#252525
 */

.bucket-0 {fill: #eff3ff}
.bucket-1 {fill: #bdd7e7}
.bucket-2 {fill: #6baed6}
.bucket-3 {fill: #3182bd}
.bucket-4 {fill: #08519c}

#louisiana-map {
  display: none;
}
#parish-group, .parishes {
  transform: rotate(1.8deg);
  opacity:1;
  fill:#eff3ff;
  fill-opacity:1;
  fill-rule:nonzero;
  stroke:#000000;
  stroke-width:0.178287;
}
